[flake8]
ignore =
    # whitespace before ':'
    E203,
    # missing docstrings
    D100,D101,D102,D103,D104,D105,D106,D107,
    D203,
    W503
exclude =
    .git,
    .venv,
    __pycache__,
    build,
    dist,
    docs/source/conf.py,
    lib,
    old
max-line-length= 88
